html {
    font-family: sans-serif;
}
  
body {
    margin: 0;
    background: #ccc;
}

header{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/img/trumpet-background.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px;
}

header h1{
    color: white;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    position: absolute;
    top: 0;
    left: 20;
    word-wrap: break-word;
}

#about{
   position: relative; 
   color: white;
   background-color: rgb(51,51,51);
   padding: 10px;
}

#about h2, p{
    margin-left: 20px;
    margin-right: 20px;
}

.concert-schedule{
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

h3{
    margin-left: 20px;
}

.learn-more{
    margin: 15px;
    background-color: rgb(34,132,37);
    color: #fff;
    padding: 15px;
    border-radius: 15px;
    width: 100px;
    user-select: none;
}

.song-info{
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
}

.learn-more:hover .song-info{
    display: block;
    opacity: 1;
}

.row-border{
    border-top: 2px solid rgb(181, 179, 179);
    grid-column: 1 / 5;
}

.phone-display{
    display: none;
}

@media screen and (max-width: 500px){
    .concert-schedule{
        display: flex;
        flex-direction: column;
        font-size: 13px;
    }
    .row-border{
        border-top: none;
    }
    header h1{
        font-size: 30px;
    }
    .learn-more{
        display: none;
    }
    .phone-display{
        display: block;
        opacity: 1;
    }

    #concert1::after,
    #concert2::after,
    #concert3::after,
    #concert4::after,
    #concert5::after,
    #concert6::after,
    #concert7::after,
    #concert8::after,
    #concert9::after{
        content: "";
        display: block;
        border-bottom: 3px solid black;
        border-radius: 5px;
        margin: 10px;

    }
}

