html {
    font-family: sans-serif;
}
  
body {
    margin: 0;
    background: #ccc;
}

header{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/img/trumpet-background.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px;
}

header h1{
    color: white;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    position: absolute;
    top: 0;
    left: 20;
    word-wrap: break-word;
}

#about{
   position: relative; 
   color: white;
   background-color: rgb(51,51,51);
   padding: 10px;
}

#about h2, p{
    margin-left: 20px;
    margin-right: 20px;
}

.concert-schedule{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
}

h3{
    margin-left: 20px;
}

.row-border{
    border-top: 2px solid rgb(181, 179, 179);
    grid-column: 1 / 5;
}

@media screen and (max-width: 500px){
    .concert-schedule{
        display: flex;
        flex-direction: column;
    }
    .row-border{
        border-top: none;
    }
    header h1{
        font-size: 30px;
    }
}

