#Intro, #Origins, #Variations, #Etymology, #see-also, #References{
    margin-left: 400px;
    margin-right: 400px;
}

#Lasagna-img{
    width: 300px;
    position: absolute; left: 1350px; top: 100px;
}

#Table-of-Contents{
    position: absolute; left:50px 
}